body {
  background-color: rgb(10, 10, 10);
  font-family: 'Century Gothic', 'Arial', 'sans-serif';
  margin: 0px;
}

.head {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3px;
  background-color: rgb(15, 15, 15);
}

.title {
  font-weight: bold;
  font-size: 60px;
  font-variant-caps: all-petite-caps;
  color: white;
  padding-top: 0px;
  padding-bottom: 10px;
  text-align: center;
}

.menu {
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
}

.button {
  color: rgb(75, 75, 75);
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 60px;
  font-variant: small-caps;
}

.home {
  margin-left: 0px;
}

.contents {
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-pic {
  border-radius: 150px;
}

.intro {
  margin-left: 20px;
  color: white;
  width: 500px;
}

.name {
  font-size: 40px;
  font-weight: bold;
  font-variant-caps: all-petite-caps;
}

.colored-name {
  color: rgb(255, 225, 0);
}

#skills {
  font-weight: bold;
}

.par {
  line-height: 1.5;
  text-align: justify;
}

.about-button {
  color: rgb(70, 70, 70);
  font-weight: bold;
  font-size: 15px;
  padding: 0px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}